<h1>Listing cards</h1>

<table>
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.quantity %></td>
        <td><%= card.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card', new_decklist_card_path %>
